.illustration-1 {
  position: absolute;
  top: -72px;
  left: -86px;
}
.illustration-2 {
  position: absolute;
  bottom: 72px;
  left: -37px;
}
.illustration-3 {
  position: absolute;
  bottom: 109px;
  right: -72px;
}
